@model List<string>
@{
    /**/

    ViewBag.Title = "Home Page";
}
<div>
    <h3>Список изображенией в папке Files</h3>
    <div class="row">

        @{
            foreach (var item in Model)
            {
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">

                        <img src="@Url.Content("~/Files/" + @item)" />
                    </a>
                </div>
            }
        }

    </div> 
   


    <h3>Выберите файл для загрузки</h3>

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" /><br>
        <input type="submit" value="Загрузить" />
    }
</div>